.header {
  background-color: lightblue;
}

/* .taskbar {

} */
.home-body {
  /* display: grid;
  grid-template-columns: repeat(1fr, 6);
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr 1fr; */
  background-color: rgb(70, 180, 79);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10%;
  bottom: 10%;
  overflow: hidden;
  z-index: -1;
}

.graph-placeholder {
  /* grid-row-start: 3;
  grid-row-end: 3; */
  display: flex;
  justify-content: center;
  align-items: row;
  /* background-image: url(ants.jpg); */
  background-size: cover;
  background-color: green;
  padding: 10px;
  position: relative;
  top: 20%;
}
/* * {
  background-color: black;
  color: white;
  font: "Maison Neue";
} */

.footer {
  background-color: red;
}
