.header {
    background-color: lightblue;
}

.taskbar {
    background-color: lime;
}
.home-body {
    background-color: pink;
}

.footer {
    background-color :red;
}

*{
background-image: url(ants.jpg);
background-size: 2000px 1000px;
background-repeat: no-repeat;

}
