.home-body {
  /* display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr 1fr; */
  background-color: steelblue;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 0.45%;
  right: 0.45%;
  overflow: hidden;
  z-index: -1;
}
