.home-body {
  color: white;
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: column;
  height: 100%;
  width: 100%;
  top: 10%;
  bottom: 10%;
  left: 0.45%;
  right: 0.45%;
  overflow: hidden;
  z-index: -1;
  position: absolute;
}

.info-body {
  grid-column-start: 1;
  grid-column-end: 2;
  top: 20vh;
  position: relative;
  width: 1000px;
  height: 600px;
  background-image: url("ants3.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
}
.tableData {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
}
