.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: right;
}
.menuContainer {
  display: grid;
  grid-template-columns: 1, 1, 1, 1, 2;
}
.menuButtons {
  grid-column-start: 5;
  grid-column-end: 5;
  display: grid;
  justify-content: center;
  align-items: row;
}
.logOutButtons {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
