.profile-dropdown {
  display: flex;
  flex-direction: row;
  align-items: right;
  /* justify-content: space-between; */
  position: relative;
}
.menuContainer {
  /* display: grid;
  grid-template-columns: 1, 1, 1, 1, 2; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3%;
}
.menuButtons {
  grid-column-start: 5;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: row;
}
.logOutButtons {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.navbarContainer {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  height: 10vh;
  margin-top: 0%;
  align-items: center;
  justify-content: flex-end;
}
