.profile-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.logOutButtons {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
